<aside id="park-notification-panel" class="park-notification-panel"{% if visible is not defined or not visible %} aria-hidden="true"{% endif %}>
    <div class="park-notification-panel__panel">
        <h6 class="park-notification-panel__headline">{% if items is defined and items is iterable and items|length %}{{ items|length }} neue {% else %}Keine neuen {% endif %}Artikel</h6>
        {% if items is defined and items is iterable and items|length %}
            {% include 'components/teaser-image-list/template.twig' with {
                'items': items,
                'config': config
            } only %}
        {% else %}
            {% if hasSubscribed is defined and not hasSubscribed %}
                <p class="park-notification-panel__paragraph">Hier finden Sie neue Artikel abonnierter Themen oder Autoren. Sie folgen bislang allerdings noch keinem Thema oder Autor.</p>
                <p class="park-notification-panel__paragraph">Um das zu ändern, halten Sie in einem Artikel, dessen Thema Sie interessiert oder dessen Autor Sie gut finden, nach folgenden {% include 'svg/bell.svg' %}-Knöpfen Ausschau:</p>
                <div class="park-notification-panel__legend">
                    <div class="park-notification-panel__legend-inner">
                        {% include 'components/topicbox/template.twig' with {
                            'id': '1',
                            'title': 'Stadtentwicklung',
                            'config': config
                        } only %}
                        {% include 'components/authorsbox/template.twig' with {
                            'text': 'von Max Mustermann',
                            'authors': [
                                {
                                    'id': 'H1',
                                    'src': "data:image/svg+xml,%3Csvg viewBox='0 0 128 128' xmlns='http://www.w3.org/2000/svg'%3E%3Crect width='100%' height='100%' fill='%23eee'/%3E%3Cpath d='M30 49c0 18.7 15.3 34 34 34s34-15.3 34-34-15.3-34-34-34-34 15.3-34 34zm60 0c0 14.3-11.7 26-26 26S38 63.3 38 49s11.7-26 26-26 26 11.7 26 26zM24.4 119.4C35 108.8 49 103 64 103s29 5.8 39.6 16.4l5.7-5.7C97.2 101.7 81.1 95 64 95s-33.2 6.7-45.3 18.7l5.7 5.7z' fill='%23000'/%3E%3C/svg%3E",
                                    'name': 'Max Mustermann',
                                    'position': 'Lokalpolitik',
                                }
                            ],
                            'config': config
                        } only %}
                    </div>
                </div>
            {% else %}
                <p class="park-notification-panel__paragraph">Es sind seit Ihren letzten Besuch keine neuen Artikel abonnierter Themen oder Autoren veröffentlicht worden.</p>
            {% endif %}
        {% endif %}
        </div>
</aside>
