{% set config = config|merge({
  'ads': false
}) %}

{% extends 'twig/base.twig' %}

{% block page_content %}
<main id="park-main" role="main" tabindex="-1">
  <!-- ### INSERT BELOW THIS MARK ### -->
  <!-- ### INSERT ABOVE THIS MARK ### -->
</main>
{% endblock %}
