
@font-face {
    font-family:"MagnaEF-Light";
    src:url("MagnaEF-Light.woff2") format("woff2"),url("MagnaEF-Light.woff") format("woff"),url("MagnaEF-Light.otf") format("opentype");
    font-style:normal;font-weight:400;
}
        