/*
Since certain rules are generated inline in the HTML-template and since our template does not know our
SCSS-defined mobile/desktop breakpoints, we need to force reset at certain places them inside here with
!important rules.
*/

.park-multi-portal {
  position: relative;
  z-index: 1;
  width: 100%;
  padding: 1px 0;
  background-color: $global-light-grey;

  @include mq(mobile) {
    width: 100% !important;
    float: none !important;
    margin-left: 0 !important;
    margin-right: 0 !important;
  }

  &--grid {
    background-color: #fff;
  }

  &--grid &__items {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    @include mq(desktop) {
      flex-direction: row;
      flex-wrap: wrap;

      @supports (grid-template-areas: 'a b c') {
        display: grid;
        grid-gap: $global-spacing;
        justify-items: center;
        overflow: hidden;
        width: 100%;
        padding: $global-spacing;
      }
    }
  }

  &--grid &__item {
    width: 100%;
    margin-bottom: $global-spacing;
    padding: 1px;

    &:first-child {
      margin-top: $global-spacing;
    }

    @include mq(desktop) {
      overflow: hidden;
      min-width: 0;
      min-height: 0;

      &:first-child {
        margin-top: 0;
      }

      > * {
        overflow: hidden;
        width: 100%;
        max-width: 100%;
      }
    }
  }

  &--grid .park-portal {
    margin: auto;
  }

  &--slider {
    .park-slider__item {
      height: auto;
      min-height: 0;
      text-align: center;
      vertical-align: middle;

      @supports (width: calc((100% - #{rem(15px)}) / var(--slider-item-width-fraction))) {
        width: calc((100% - #{rem(15px)}) / var(--slider-item-width-fraction)) !important;
      }

      @include mq(mobile) {
        width: calc(100% - #{rem(15px)}) !important;
      }

      > * {
        margin-left: auto;
        margin-right: auto;
      }
    }

    .park-card-portal .park-portal {
      padding-top: $global-spacing;
      padding-bottom: $global-spacing;
      background-color: #fff;
      box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.24);
    }

    .park-card-portal .park-portal * {
      @include mq(desktop) {
        width: auto;
      }
    }
  }
}
