$header-navbar-height-mobile: rem(80px);
$header-navbar-height-desktop: rem(80px);
$header-navbar-wrapper-height: rem(80px);
$header-navbar-wrapper-item-width: rem(58px);
$header-logo-height: rem(60px);
