.park-topicbox {
  @include global-sans-serif-font-size(2);

  position: relative;
  display: block;
  padding: 1px $global-spacing $global-spacing $global-spacing;
  color: $global-color-text-black;
  box-shadow: none !important;

  @include mq(desktop) {
    padding-left: 0;
  }

  &__content {
    display: flex;
    align-items: center;
    min-height: rem(50px);
    margin-right: rem(100px);

    &:only-child {
      margin-right: 0;
    }
  }

  &__text {
    display: block;
  }

  &__headline {
    font-weight: $global-font-weight-sans-serif-bold;
    vertical-align: baseline;
  }

  &__link {
    @include text-link;
  }

  .park-button-subscribe {
    position: absolute;
    top: 1px;
    right: $global-spacing;
  }
}
