<div class="park-newsletter">
  <div class="park-newsletter__logo">
    <svg viewBox="0 0 119 27" xmlns="http://www.w3.org/2000/svg" class="park-newsletter__logo-image">
      <polygon
        points="26.9730002 18.4450856 26.9730002 22.0889552 0.00399985695 22.0889552 0.00399985695 26.9327129 26.9730002 26.9327129 26.9730002 23.2983159 31.8802382 23.2983159 31.8802382 18.4450856"
        fill="#FFCB04"></polygon>
      <path
        d="M6.493.311H.004v.859c1.098.01 1.815.234 1.815 2.097v15.197h3.147v-5.952h1.408l3.864 5.952h4.356v-.751c-.915-.029-1.558-.78-2.176-1.541L9.46 12.048c2.257-.745 4.545-2.507 4.545-5.8 0-3.67-2.413-5.937-7.512-5.937zm0 10.742l-1.534-.073V1.754h.99c3.082 0 4.59 1.522 4.59 4.591 0 3.366-1.662 4.708-4.046 4.708zM21.69.311h-6.344v.859c1.136 0 1.824.271 1.824 2.097v15.197h3.14v-5.772h.698c4.946 0 8.14-1.765 8.14-6.176 0-3.761-2.214-6.205-7.458-6.205zm-.682 10.947h-.707V1.754h1.261c2.987 0 4.12 1.664 4.12 4.913 0 3.84-1.834 4.591-4.674 4.591zM44.24.052c-4.52 0-7.804 3.77-7.804 9.318 0 5.523 3.259 9.362 7.805 9.362 4.526 0 7.839-3.713 7.839-9.264 0-5.548-3.294-9.416-7.84-9.416zm0 1.434c2.568 0 4.402 2.703 4.402 7.884 0 5.371-1.588 7.923-4.401 7.923-2.561 0-4.338-2.678-4.338-7.923 0-5.28 1.524-7.884 4.338-7.884zM65.2 18.464h2.984V.311h-2.05v12.943L58.802.311h-3.23v18.153h2.023V5.227L65.2 18.464zm7.82 0h8.55v-1.62h-5.454V.311H73.02v18.153zm11.166.003h3.057V.314h-3.057v18.153zm17.49-.003h2.977V.311h-2.042l-.01 12.943L95.27.311h-3.23v18.153h2.032l-.01-13.237 7.612 13.237h.001zm7.814 0h9.398v-1.62h-6.242V9.692h4.51V8.107l-4.51-.01V1.87h5.436V.31h-8.592v18.154z"
        fill="#fff"
        fill-rule="evenodd"/>
    </svg>
  </div>
  <div class="park-newsletter__header">
    {{ header.text }}
  </div>
  <div class="park-newsletter__form">
    {% set form = form|merge({'config': config}) %}
    {% include 'components/form/template.twig' with form only %}
  </div>
  <div class="park-newsletter__footer">
    {{ footer.text }}
  </div>
</div>