
@font-face {
    font-family:"DaxOT-CondMedium";
    src:url("DaxOT-CondMedium.woff2") format("woff2"),url("DaxOT-CondMedium.woff") format("woff"),url("DaxOT-CondMedium.otf") format("opentype");
    font-style:normal;font-weight:400;
}
        