.park-optout {
  padding: $global-spacing;
  background-color: $global-light-grey;

  .park-form {
    padding: 0;
  }

  /* The following is a trick to artificially increase specificity */
  .park-button.park-button.park-button {
    display: inline-block;
    width: 100%;
    align-self: stretch;
  }
}
