@keyframes park-portal-node-inserted {
  from {
    opacity: 0.99;
  }

  to {
    opacity: 1;
  }
}

.park-portal {
  display: block;
  min-height: 1px;
  text-align: center;

  @include mq(mobile) {
    width: 100%;
  }

  @include mq(desktop) {
    display: inline-block;
    margin: $global-spacing auto;
    vertical-align: top;
  }

  &--html {
    display: block;
    text-align: left;
  }

  iframe,
  img {
    animation-duration: 0.02s;
    animation-name: park-portal-node-inserted;
  }

  &--sticky:not(xmp) {
    $park-portal-sticky-background-gray: #eee;

    position: relative;
    padding: 0;
    background-image: linear-gradient(-45deg, $park-portal-sticky-background-gray 5%, #fff 5%, #fff 45%, $park-portal-sticky-background-gray 45%, $park-portal-sticky-background-gray 55%, #fff 55%, #fff 95%, $park-portal-sticky-background-gray 95%);
    background-size: 10px 10px;
    background-repeat: repeat;

    @supports (clip-path: polygon(-50% 0, 150% 0, 150% 100%, -50% 100%)) {
      clip-path: polygon(-50% 0, 150% 0, 150% 100%, -50% 100%);
    }
  }

  &__sticky-floater {
    position: sticky;
    z-index: 1;
    top: calc(#{$header-navbar-height-mobile} + #{rem(14px)}) !important;
    transition: top 300ms;

    @include mq(desktop) {
      top: calc(#{$header-navbar-height-desktop} + #{rem(14px)}) !important;
    }

    .with-offers & {
      top: calc(#{$header-navbar-height-mobile} + #{$header-offer-height-mobile} + #{rem(14px)}) !important;

      @include mq(desktop) {
        top: calc(#{$header-navbar-height-desktop} + #{$header-offer-height-desktop} + #{rem(14px)}) !important;
      }
    }
  }

  &__sticky-floater-text {
    position: sticky;
    top: calc(#{$header-navbar-height-mobile} + #{rem(30px)}) !important;
    height: 0;
    transition: top 300ms;

    @include mq(desktop) {
      top: calc(#{$header-navbar-height-desktop} + #{rem(30px)}) !important;
    }

    .with-offers & {
      top: calc(#{$header-navbar-height-mobile} + #{$header-offer-height-mobile} + #{rem(30px)}) !important;

      @include mq(desktop) {
        top: calc(#{$header-navbar-height-desktop} + #{$header-offer-height-desktop} + #{rem(30px)}) !important;
      }
    }

    &::after {
      @include global-sans-serif-font-size(3);

      content: '\25BC\00A0\00A0Weiterlesen nach dieser Anzeige\00A0\00A0\00A0\25BC';
      content: '\25BC\00A0\00A0' var(--park-portal--sticky-portal-text, 'Weiterlesen nach dieser Anzeige') '\00A0\00A0\00A0\25BC';
      position: absolute;
      display: block;
      width: 100%;
      height: 4em;
      color: #666;
      font-weight: $global-font-weight-sans-serif-bold;
      line-height: 4em;
      text-transform: uppercase;
    }
  }
}
