<div class="park-authorsbox-podcast">
  <div class="park-authorsbox-podcast__headline">
    Überschrift
  </div>
  <!-- 1. -->
  <div class="park-authorsbox-podcast__author">
    <div class="park-authorsbox-podcast__image">
      <img src="https://rp-online.de/imgs/33/2/5/8/3/5/9/1/3/tok_bea907c4e23024ff54d202739c870988/w250_h250_x573_y435_1.6323787-0d006a43833df6ae.jpg" alt="orname Nachname">
    </div>
    <div class="park-authorsbox-podcast__text">
      <p>
        <span class="park-authorsbox-podcast__text--name">Vorname Nachname</span><br>
        Titel von Vorname und Nachname
      </p>
    </div>
  </div>
  <!-- 2. -->
  <div class="park-authorsbox-podcast__author">
    <div class="park-authorsbox-podcast__image">
      <img src="https://rp-online.de/imgs/33/2/5/8/3/5/9/1/3/tok_bea907c4e23024ff54d202739c870988/w250_h250_x573_y435_1.6323787-0d006a43833df6ae.jpg" alt="orname Nachname">
    </div>
    <div class="park-authorsbox-podcast__text">
      <p>
        <span class="park-authorsbox-podcast__text--name">Vorname Nachname</span><br>
        Titel von Vorname und Nachname
      </p>
    </div>
  </div>
</div>
