<aside class="park-embed-facebook-post">
  <link rel="preconnect" href="https://connect.facebook.net">
  <link rel="preload" href="https://connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.5" as="script">
  <span class="fb-post" data-href="{{ url|escape('html') }}">
  <a class="park-embed-facebook-post__link fb-post"
     href="{{ url|escape('html') }}"
     target="_blank"
     rel="noopener noreferrer nofollow">Zum Facebook Post</a>
    </span>
</aside>