$global-font-family-serif: serif !default;
$global-font-family-serif-loaded: 'Merriweather', serif !default;

$global-font-weight-serif-regular: 400;
$global-font-weight-serif-bold: 400;

$global-font-family-sans-serif: sans-serif !default;
$global-font-family-sans-serif-loaded: 'Source Sans Pro', sans-serif !default;

$global-font-weight-sans-serif-regular: 400;
$global-font-weight-sans-serif-bold: 600;

$global-line-height-base: 1.35 !default;

$global-font-family-daxot-cond: sans-serif !default;
$global-font-family-daxot-cond-loaded: 'DaxOT-CondMedium', sans-serif !default;

$global-font-weight-daxot-cond-medium-regular: 400;
$global-font-weight-daxot-cond-medium-bold: 600;

$global-font-family-magnaef-light: serif !default;
$global-font-family-magnaef-light-loaded: 'MagnaEF-Light', serif !default;

$global-font-weight-magnaef-light-regular: 400;
$global-font-weight-magnaef-light-bold: 600;