.park-opt-in-layer {
  .park-form-headline {
    margin-bottom: rem(40px);
  }

  .park-button--style-red {
    background-color: #c00000;
  }

  .park-button--style-submit {
    margin-bottom: rem(20px);
    background-color: #1bb934;
  }
}

