<aside class="park-embed-twitter-tweet">
  <link rel="preconnect" href="https://publish.twitter.com">
  <link rel="preconnect" href="https://platform.twitter.com">
  <link rel="preload" href="https://platform.twitter.com/widgets.js" as="script">
  <a class="park-embed-twitter-tweet__link"
     href="{{ url }}"
     target="_blank"
     rel="noopener noreferrer nofollow">{{ url }}</a>
</aside>