$global-font-family-serif: serif !default;
$global-font-family-serif-loaded: 'SourceSerifPro', serif !default;

$global-font-weight-serif-regular: 400;
$global-font-weight-serif-bold: 400;

$global-font-family-sans-serif: sans-serif !default;
$global-font-family-sans-serif-loaded: 'Open Sans', sans-serif !default;

$global-font-weight-sans-serif-regular: 400;
$global-font-weight-sans-serif-bold: 600;

$global-line-height-base: 1.35 !default;

$global-headline-font: $global-font-family-sans-serif;
$global-headline-font-loaded: $global-font-family-sans-serif-loaded;

$global-headline-weight: bold;