.park-page-header {
  padding: $global-spacing;
  background-color: $global-light-grey;

  .park-pager-previous-next {
    margin-bottom: rem(30px);

    &:empty {
      display: none;
    }
  }

  .park-content,
  .park-tab-links {
    padding: 0 $global-spacing;
  }

  .park-tab-links:last-child {
    margin-bottom: rem(-15px);
  }
}
