<{% if isNumeric %}ol{% else %}ul{% endif %}
  class="park-teaser-grid-image-list{%
    if withAd is defined and withAd %} park-teaser-grid-image-list--with-ad{%
    elseif singleRow is defined and singleRow is same as(true)  %} park-teaser-grid-image-list--single-row{% endif %}
    {% if minusOneRow is defined and minusOneRow is same as(true)  %} park-teaser-grid-image-list--minus-one-row{% endif %}">
    {% if singleRow is defined and singleRow %}
      {% set imageCount = 1 %}
    {% elseif withAd is defined and withAd or minusOneRow is defined and minusOneRow %}
      {% set imageCount = 2 %}
    {% else %}
      {% set imageCount = 3 %}
    {% endif %}
    {% for item in items %}
    <li class="park-teaser-grid-image-list__item isNumeric">
      {% set item = item|merge({
        'config': config,
        'isNumeric': isNumeric
      }) %}
      {% if config.advertorial is defined and config.advertorial is same as(true) %}
        {% set item = item|merge({
          'isAd': true
        }) %}
      {% endif %}
      {% if item.src is defined and loop.index0 >= imageCount %}
        {% set item = item|merge({
          'src': undefined_var
        }) %}
      {% endif %}
      {% include 'components/teaser-list-item/template.twig' with item only %}
    </li>
  {% endfor %}
</{% if isNumeric %}ol{% else %}ul{% endif %}>
