.park-page-opener {
  @include clearfix;
  @include global-sans-serif-font-size(2);

  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: rem(20px) $global-spacing $global-spacing $global-spacing;
  background-color: $global-light-grey;

  @include mq(desktop) {
    display: block;
    padding: $global-spacing;
  }

  .park-button-subscribe {
    position: absolute;
    top: rem(5px);
    right: $global-spacing;

    @include mq(desktop) {
      position: static;
      float: right;
    }
  }

  &__headline {
    @include global-font-family-sans-serif;
    @include global-sans-serif-font-size(1);

    margin-bottom: $global-spacing;
    padding: 0 rem(65px) 0 0;
    font-weight: $global-font-weight-sans-serif-regular;
    order: -1;

    @include mq(desktop) {
      padding: 0 $article-spacing;
    }
  }

  &__image {
    width: 100%;
    margin-bottom: $global-spacing;

    @include mq(desktop) {
      width: rem(316px);
      float: left;
      margin: 0 rem(30px) $global-spacing 0;
    }
  }

  .park-image {
    width: 100%;
  }

  &__image-caption {
    @include global-sans-serif-font-size(3);

    overflow: hidden;

    *,
    *::before,
    *::after {
      vertical-align: baseline;
    }
  }

  &__image-source {
    @include global-sans-serif-font-size(3);

    float: right;
    margin-left: rem(2px);
    font-weight: $global-font-weight-sans-serif-regular;
    font-style: normal;
    text-align: right;
  }

  &__image-source-link {
    @include text-link;
  }

  &__intro {
    @include global-sans-serif-font-size(2);

    margin-bottom: 1em;
    font-weight: $global-font-weight-sans-serif-bold;

    @include mq(desktop) {
      padding: 0 $article-spacing;
    }
  }
}
