<div class="park-section {% if narrow is defined and narrow is same as(true) %} park-section--narrow{% endif %}"
  {% if data is defined and data is iterable %}
    {% for attribute, value in data %}
      {% if value is iterable %}
        data-{{ attribute }}="{{ value|json_encode()|escape('html') }}"
      {% else %}
        data-{{ attribute }}="{{ value|escape('html') }}"
      {% endif %}
    {% endfor %}
  {% endif %}>
  {% if children is defined and children is iterable %}
    {% for child in children %}
      {% set data = child.data|merge({'config': config}) %}
      {% include 'components/' ~ child.component ~ '/template.twig' with data only %}
    {% endfor %}
  {% endif %}
</div>