<aside class="park-embed-opinary">
  <link rel="preconnect" href="https://widgets.opinary.com">
  <link rel="preload" href="https://widgets.opinary.com/embed.js" as="script">
  <div class="opinary-widget-embed" data-poll="{{ poll }}" data-customer="{{ customer }}"></div>
</aside>