{% set uuid = random() %}
{% if type is not defined %}
  {% set type = 'checkbox' %}
{% endif %}
<div class="park-checkbox-group
    {% if name is defined %}
    park-checkbox-group--{{ name }}
    {% endif %}
    {% if labelHidden is defined and labelHidden is same as(true) %}
    park-checkbox-group--label-is-hidden
    {% endif %}"
     role="radiogroup"
     aria-labelledby="park-checkbox-group__legend-{{ uuid }}">
  <span id="park-checkbox-group__legend-{{ uuid }}"
        class="park-checkbox-group__legend">{{ label }}</span>
  <div class="park-checkbox-group__wrapper">
    {% if options is defined %}
      {% for option in options %}
        {% if value is defined and value is iterable and option.value in value %}
          {% set checked = true %}
        {% else %}
          {% set checked = false %}
        {% endif %}
        {% include 'components/input/template.twig' with {
        'type': type,
        'name': name ~ '[]',
        'label': option.label,
        'value': option.value,
        'checked': checked,
        'config': config
        } only %}
      {% endfor %}
    {% endif %}
  </div>
</div>