<div id="coral_talk_stream">&nbsp;</div>
<script src="{{talk_url}}/static/embed.js" async onload="
    Coral.Talk.render(document.getElementById('coral_talk_stream'), {
    talk: '{{talk_url}}',
    asset_id: '{{asset_id}}',
    asset_url: '{{asset_url}}'
    });
"></script>