$header-logo-height: rem(55px);

// GERAGA-348
$header-navbar-height-mobile: rem(80px);
$header-navbar-height-desktop: rem(80px);
$header-navbar-wrapper-height: rem(80px);
$header-is-extended: false;
