// colors
$global-brand-color: #2197d8; //  original: hsl(45, 100%, 50%) / #ffc100;
$global-color-text-black: #2f2f2f;
$global-advertisement-color: #dd5900;
$global-link-color: #2197d8 !default;
$global-light-grey: #edf0f3;
$global-dark-grey: #3e3e3e;
$global-kicker-color:#2197d8;
$global-footer-background-color: #5a5f65;
$global-footer-color: white;
$global-footer-font-color: white;
$global-footer-headline-color: rgba(250, 250, 250, 0.69);
$global-embed-background-color: #f7f7f7;
$global-error-color: #c00000;
$global-success-color: #1bb934;
$global-color-weather: #fdfae8;
$global-color-traffic: #e7f1fc;
$global-signal-color: #cf3f14; // red
$global-color-twitter: #4aafec;
$global-color-facebook: #3865a1;
$global-color-google-plus: #dd4b39;
$global-color-google: #ffffff;
$global-color-whatsapp: #52ad33;
$global-color-breaking: $global-error-color;

// Kunden Anpassungen
$global-color-park-navigation-header-color: #5a5f65;
$global-color-opener: $global-color-park-navigation-header-color;

// Slider
$global-slider-brand-color: $global-brand-color;
$global-slider-progress: $global-color-park-navigation-header-color;

// GERARP-1289 Navigation
$global-quicklinks-hover: #ececec;
$global-quicklinks-hover-border: $global-brand-color;
$global-quicklinks-active-border: $global-brand-color;