.park-embed-map {
  @extend %embed;

  position: relative;
  width: 100%;
  padding-top: 56.25%;
  padding-left: 0;
  padding-right: 0;

  > * {
    margin: 0 auto;
  }

  &__map {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: 0 auto;
  }

  &__fallback {
    width: 100%;
    height: auto;
  }
}
