.park-button-arrow-toggle {
  display: inline-block;
  width: rem(20px);
  height: rem(20px);
  padding: rem(3px);
  background-color: transparent;
  border: none;
  font-size: 0;
  transform: rotate(0deg);
  transition-property: transform;
  transition-duration: 0.3s;
  backface-visibility: visible;

  &[aria-expanded="true"] {
    transform: rotate(90deg);
  }

  > svg {
    width: 100%;
    height: 100%;
  }
}
