{% if config is defined and config.consentDataDomainScript is not defined or config.consentDataDomainScript is empty %}
  {% if config is defined and config.cookieProDataDomainScript is not defined or config.cookieProDataDomainScript is empty %}
<div class="park-snackbar-cookies">
  {% include 'components/snackbar/template.twig' with {
    'id': 'cookies',
    'children': [
      {
        'component': 'button',
        'data': {
          'data': {
            'close': 'true'
          },
          'text': button.text
        }
      },
      {
        'component': 'markdown',
        'data': {
          'text': text
        }
      },
      {
        'component': 'markdown',
        'data': {
        'text': '[' ~ link.text ~ '](' ~ link.href ~ ')'
      }
      },
    ],
    'closeButton': false,
    'config': config
  } only %}
</div>
  {% endif %}
{% endif %}